<%= render "devise/shared/header" %>
<div class="main">
  <div class="top-text">
    <div class="topa-text">
      <p class="topb-text lead">
        Let's register product information !
      </p>
      <p class="topc-text lead">
        日々の業務、そして年末年始お疲れ様です。
      </p>
      <p class="topd-text lead">
        さぁ 次の年末の自分を助けてあげよう。
      </p>
    </div>
  </div>
  <div class="item-class">
    <div class="daily-switching">
      <h2 class="daily-period lead">
        29日~31日日替わり商品
      </h2>
      <ul class="daily-product ">
        <li class="product-easy">
          <%= image_tag "image001.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
          <ul class="list-group top-list">
            <li class="list-group-item custom-item">商品名: ゴールドブレンド</li>
            <li class="list-group-item custom-item">JANコード: 4987654321</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="daily-switching">
      <h2 class="daily-period lead">
        年末際物商品
      </h2>
      <ul class="daily-product">
        <li class="product-easy">
          <%= image_tag "image018.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
          <ul class="list-group top-list">
            <li class="list-group-item custom-item">商品名: 松前漬け</li>
            <li class="list-group-item custom-item">JANコード: 4987654321</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="button-list">
      <div class="top-registration">
        <%= link_to "商品のデータ登録はこちら", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
      </div>
      <div class="top-listbtn">
        <%= link_to "店舗登録商品を見たい方", user_path(current_user), class: "btn btn-primary btn-lg moving_button" %>
      </div>
    </div>
  </div>

</div>