<%= render "devise/shared/header" %>
<div class="main">
  <h2 class="daily-period">
    29日~31日日替わり商品
  </h2>
  <ul class="daily-product">
    <li class="product-easy">
      <%= image_tag "image001.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: ゴールドブレンド</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image002.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: キッコーマン醤油</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image003.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 上白糖</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image004.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: バーモントカレー中辛</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image005.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: バーモントカレー甘口</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image006.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: バーモントカレー辛口</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image007.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: ハウスシチューミクス</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image008.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: アルフォート</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image009.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: ソフトサラダ</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
  </ul>
  <h2 class="daily-period">
    年末際物商品
  </h2>
  <ul class="daily-product">
    <li class="product-easy">
      <%= image_tag "image010.jpg",  class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 虎屋大正金時</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image011.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 栗甘露煮</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image012.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 花かつお</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image013.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: かんぴょう</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image014.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 日高昆布</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image015.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 九州産椎茸</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image016.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 片栗粉</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image017.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: すしはね焼きのり</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
    <li class="product-easy">
      <%= image_tag "image018.jpg", class: "img-thumbnail daily-item",alt: "img-thumbnail" %>
      <ul class="list-group top-list">
        <li class="list-group-item custom-item">商品名: 松前漬け</li>
        <li class="list-group-item custom-item">JANコード: 4987654321</li>
      </ul>
      <%= link_to "登録する", new_item_path, class: "btn btn-primary btn-lg moving_button" %>
    </li>
  </ul>

</div>